@font-face {
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'FunnelDisplay';
    src: url('./assets/fonts/FunnelDisplay.ttf') format('truetype');
}